
<img {{bind-attr src=srcImage}} class="img-responsive">

<div class='rhci-item-text'>
  {{yield}}
</div>

<div {{bind-attr class=":rhci-footer isChecked:rhci-footer-selected:rhci-footer-unselected"}}>
     <i {{bind-attr class=":fa :fa-5x isChecked:fa-check:fa-remove"}}></i>
     <span class='rhci-install-footer'>
       {{#if isChecked}}
         Install
       {{else}}
         Do not install
       {{/if}}
       {{name}}
     </span>
</div>

<div {{bind-attr class=":rhci-footer-box isHover:rhci-footer-hover"}}>
     {{#if showMsgToSelect}}
       Click anywhere in box to select {{name}} to Install
     {{else}}
       {{#if showMsgToDeselect}}
         Click anywhere in box to deselect {{name}}
       {{/if}}
     {{/if}}
</div>
{{!bs-alert type='info'}}