<div class="row">
  <div class='col-md-12' style='border: 1px solid #000;margin-top:15px;'>
    <h3>Create Organization</h3>
      <br />
      <form class="form form-horizontal">

        {{text-f label="Parent" value=fields.value labelSize='col-md-4' inputSize='col-md-8'}}
        {{text-f label="Organization Name" value=fields.name labelSize='col-md-4' inputSize='col-md-8' }}
        {{textarea-f label="Description" value=fields.description labelSize='col-md-4' inputSize='col-md-8'}}

        <div style='float:right'>
          <button {{action 'cancel'}} class='btn btn-default btn-sm'>Cancel</button>
          <button {{action 'createOrganization'}} class='btn btn-primary btn-sm'>Create</button>
        </div>
      </form>
      <br />
      <br />
  </div>
</form>
