{{#if false}}
  {{#if isLoggedIn}}
    {{partial "topbar"}}
  {{/if}}

  {{#if showMainMenu}}
    {{partial "mainmenu"}}
  {{/if}}

{{else}}

      <li class="dropdown menu_tab_dropdown">
        <a {{!action 'toggleSideMenu'}} class="uxnotes">
        UX Notes &nbsp;<i class="fa fa-bars fa-lg white"></i>
        </a>
      </li>


{{/if}}

{{render 'side-menu'}}

<div {{bind-attr class="isLoggedIn:container"}}>
  {{outlet}}
</div>
<!-- MODALS -->

{{#bs-modal name="myModal" fade=true footerButtonsBinding="myModalButtons" title="My Modal"}}
    <p>Modal content!</p>
{{/bs-modal}}

{{#bs-modal name="newRHCI" fade=true footerButtonsBinding="myModalButtons" title="New RHCI Deployment"}}
  {{render 'new-rhci-modal'}}
{{/bs-modal}}



