{{#if isLoggedIn}}
  {{render "topbar"}}
{{/if}}

{{#if showMainMenu}}
  {{render "mainmenu"}}
{{/if}}

<div {{bind-attr class="isLoggedIn:container"}}>
  {{outlet}}
</div>

<!-- MODALS -->

{{#bs-modal name="myModal" fade=true footerButtonsBinding="myModalButtons" title="My Modal"}}
    <p>Modal content!</p>
{{/bs-modal}}

{{#bs-modal name="newRHCI" fade=true footerButtonsBinding="myModalButtons" title="New RHCI Deployment"}}
  {{render 'new-rhci-modal'}}
{{/bs-modal}}



