<div class='row'>
  <div class='col-md-11 col-md-offset-1'>
    <form class='form form-horitzonal' role='form'>
    <strong>
      {{input type="checkbox" name="foreman_compute_vmware" checked=foreman_compute_vmware}}
      Enable foreman_compute_vmware module
      <br />
      <br />

      {{input type="checkbox" name="foreman_compute_ec2" checked=foreman_compute_ec2}}
      Enable foreman_compute_ec2 module
      <br />
      <br />

      {{input type="checkbox" name="foreman_compute_libvirt" checked=foreman_compute_libvirt}}
      Enable foreman_compute_libvirt module
      <br />
      <br />

      {{input type="checkbox" name="foreman_compute_rackspace" checked=foreman_compute_rackspace}}
      Enable foreman_compute_rackspace module
      <br />
      <br />

      {{input type="checkbox" name="foreman_compute_gce" checked=foreman_compute_gce}}
      Enable foreman_compute_gce module
      <br />
      <br />

      {{input type="checkbox" name="foreman_compute_ovirt" checked=foreman_compute_ovirt}}
      Enable foreman_compute_ovirt module
      <br />
      <br />

      {{input type="checkbox" name="foreman_compute_openstack" checked=foreman_compute_openstack}}
      Enable foreman_compute_openstack module
      <br />
    </strong>
    </form>
  </div>
</div>
