<div class="row">
  <div class='col-md-9'>
        <br />
        <form class="form form-horizontal">

<a {{action 'showModal' 'newOrganizationModal'}}>Create New Organization</a>

<br />
defaultOrganization is {{defaultOrganization}}
<br />
selectedOrganzation is {{selectedOrganzation}}

<table class="table table-bordered small">
  <thead>
    <tr>
      <th></th>
      <th> Organization </th>
      <th> Description </th>
    </tr>
  </thead>

  <tbody>
  {{#each org in organizations itemController="organization"}}
    {{tr-organization org=org selectedOrganzation=selectedOrganzation}}
  {{/each}}
  </tbody>
</table>

         {{#select-f label='Organization'
                    content=organizations
                    optionLabelPath="content.name"
                    optionValuePath="content.id"
                    value=selectedOrganization.id
                    selection=selectedOrganization
                    prompt="Select Existing Organization"
                    labelSize='col-md-4' inputSize='col-md-8'
                    }}
         {{/select-f}}


{{#bs-modal name="newOrganizationModal" fade=true footerButtonsBinding="rhciModalButtons" title="Create New Organization"}}
  {{partial 'new-organization'}}
{{/bs-modal}}

        <br />

         {{#select-f label='Environment'
                    content=environments
                    optionLabelPath="content.name"
                    optionValuePath="content.id"
                    value=selectedEnvironment.id
                    selection=selectedEnvironment
                    prompt="Select Existing Environment"
                    labelSize='col-md-4' inputSize='col-md-8'
                    }}

                    or {{#link-to 'configure.new-environment' class=''}}Create New Environment{{/link-to}}
         {{/select-f}}


        <br />
        <br />

          <div style='float:right'>
              <button {{action 'showModal' 'cancel-modal'}} class='btn btn-default'>Cancel</button>
              {{#link-to 'satellite.subscriptions' class='btn btn-primary'}}Next{{/link-to}}
          </div>

        </form>
  </div>


</div>
