<br />
<h1>New RHCI Deployment: {{name}}</h1>

<ul class="wizard">
  {{#link-to 'satellite' tagName='li'}}{{step-number value=1}}Satellite{{/link-to}}
  {{#if isRhev}}
    {{#link-to 'rhev' tagName='li'}}{{step-number value=stepNumberRhev}}RHEV{{/link-to}}
  {{/if}}
  {{#if isOpenStack}}
    {{#link-to 'openstack' tagName='li'}}{{step-number value=stepNumberOpenstack}}RHELOSP{{/link-to}}
  {{/if}}
  {{#if isCloudForms}}
    {{#link-to 'cloudforms' tagName='li'}}{{step-number value=stepNumberCloudForms}}CloudForms{{/link-to}}
  {{/if}}
  {{#link-to 'review' tagName='li' disabled=disableReview}}{{step-number value=stepNumberReview}}Review{{/link-to}}
</ul>

{{outlet}}
