<br /><h1>New Deployment: Select Red Hat Cloud Infrastructure Products</h1>

<br />
Choose the products to deploy. The installer guides you through creating a new Red Hat Cloud Infrastructure
deployment.

<br />
<br />

{{input type="checkbox" name="isSatellite" checked=isSatellite disabled=true}} Satellite
<br/>
Complete virtualization management bacon ipsum dolor sit amet kevin incididunt enim minim. Id
officia aliqua, mollit short ribs cillum consectetur spare ribs magna commodo.

<br/>
<br/>

{{input type="checkbox" name="isRhev" checked=isRhev}} RHEV
<br/>
Complete virtualization management bacon ipsum dolor sit amet kevin incididunt enim minim. Id
officia aliqua, mollit short ribs cillum consectetur spare ribs magna commodo.


<br/>
<br/>


{{input type="checkbox" name="isOpenStack" checked=isOpenStack}} RHELOSP
<br/>
Red Hat Enterprise Linux OpenStack Platform gives you a flexible, secure foundation to build a
massively scalable private or public cloud ... lorem ipsum


<br/>
<br/>
{{input type="checkbox" name="isCloudFormsOnRhev" checked=isCloudFormsOnRhev}} CloudForms on RHEV
<br/>
Manage your virtual, private, and hybrid cloud infrastructures on RHEV.

<br/>
<br/>
{{input type="checkbox" name="isCloudFormsOnOpenstack" checked=isCloudFormsOnOpenstack}} CloudForms on RHELOSP
<br/>
Manage your virtual, private, and hybrid cloud infrastructures on on RHELOSP.


<div class="form-group">
  <div class="col-xs-offset-8 col-xs-4 submit">
  {{#link-to 'deployments' class="btn btn-default"}}Cancel{{/link-to}}
  {{#link-to 'deployment' class="btn btn-primary"}}Select{{/link-to}}
  </div>
</div>
