<h4> Engine Configuration </h4>

{{text-f label="Datacenter Name"}}
{{text-f label="Cluster Name"}}
{{text-f label="Host name"}}
{{text-f label="Host address"}}
{{text-f label="Storage name"}}
{{text-f label="Engine admin password"}}
{{text-f label="Confirm admin password"}}
{{select-f label="Application Mode" content=applicationModes}}
